<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Conway's Game of JS</title>
    <style>
      #lifeBoard {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <canvas id="lifeBoard" width="480" height="480"></canvas>
  </body>
</html>
